* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  border: none;
  box-sizing: border-box;
}

.fr {float: right;}
.fl {float: left;}

.btn-mr {margin-right: 10px;}

.ctnr {min-height: 80%;}